body {
    background-color: #FFF9F9;
}

/* navbar start */

.nav-link, .dropdown-item, .nav-home{
    color: #393E46;
    font-family: 'Space Mono', monospace;
    font-size: 1.3em;
    font-weight: 800;
}

.nav-link {
    margin-top: 15px;
}


.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #6D9886;
}


.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
    color: #6D9886;
}

.dropdown-menu {
    background-color: #FFF9F9;
    --bs-dropdown-link-active-bg: #A5C0DD;
}

.nav-link.dropdown-toggle.show {
    color: #6D9886;
}


#navbarNavDropdown {
    background-color: #F2E7D5;
}

.container-fluid {
    margin: 0%;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.navbar-collapse {
    padding: 1%;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: #393E46;
    font-family: 'Space Mono', monospace;
    font-size:45px;
    font-weight: bold;
    text-align: center;
}

img {
    margin-top: 12px;
}

/* navbar end */

/* dashboard content */

#list-header {
  color: #393E46;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  margin-top: 5%;
  text-align: center;
}

.wrapper {
  max-width: 600px;
  padding: 28px 0 30px;
  margin-left: 30%;
  margin-top: 3%;
  border: 1px solid #393E46;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}


.task-input input,
.task-input button {
  display: inline-block;
  vertical-align: middle;
}

.task-input input{
  font-family: 'Space Mono', monospace;
  height: 100%;
  width: 50%;
  outline: none;
  margin-left: 15px;
  font-size: 18px;
  border-radius: 5px;
  padding:10px;
  border: 1px solid rgba(57, 62, 70, .5);
}

.task-input button {
  font-family: 'Space Mono', monospace;
  background-color: #6D9886;
  width: 100px;
  color: #FFF9F9;
  font-weight: bold;
  border-radius: 5px;
  padding: 13px;
  border: 1px solid rgba(57, 62, 70, .5);
  cursor: pointer;
}

.task-input button:hover {
  background-color: rgba(6, 68, 32, .7);
  
}

#viewBtn {
  font-family: 'Space Mono', monospace;
  background-color: #6D9886;
  width: 160px;
  color: #FFF9F9;
  font-weight: bold;
  border-radius: 5px;
  padding: 13px;
  border: 1px solid rgba(57, 62, 70, .5);
  cursor: pointer;
}




ul {
    list-style-type: none;
  }

  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
    border: 1px solid #393E46;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding-bottom: 30px;
    margin-left: 30%;
  }
  
  .task-box li {
    padding: 2%;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Space Mono', monospace;
    color: #393E46;
    overflow: hidden;
  }
  
  .task-box button {
    background-color: #6D9886;
    width: 100px;
    color: #FFF9F9;
    font-weight: bold;

    margin-left: 10%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgba(57, 62, 70, 0.5);
    cursor: pointer;
    display: inline-block;
  }
  
  .completed-task {
    text-decoration: line-through;
  }

  



      