<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>My Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

    </head>

    <body>
      
        <!-- navbar start -->

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                  <img src="{{ url_for('static', filename='todo.png') }}" alt="Logo" width="50" height="44" class="d-inline-block align-text-top">
                  ToDo
                </a>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                  </li>
                 
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Account
                    </a>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" id="logoutBtn">Logout</button></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          

        <!-- navbar end -->


      <!-- dashboard content -->

      <h1 id="list-header">List Of ToDos</h1>

      <div class="wrapper">
        <div class="task-input">
        <input type="text"  placeholder="Add A New ToDo" id="taskInput">
          <button id="addBtn">Add</button>
          <button id="viewBtn">View My ToDos</button>
      </div>
     

      <!-- <div class="controls">
        <div class="filters">
          <span class="active" id="all">All</span>
          <span id="pending">Pending</span>
          <span id="completed">Completed</span>
        </div> -->
        
      </div>
      <ul class="task-box" id="taskBox"></ul>
      </div>
      <br><br>

       
     

        <!-- firebase logout -->
        
        <script type="module">
          // Import the functions you need from the SDKs you need
          import { initializeApp } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js";
          import { getDatabase, ref, push, update, get, onValue, remove } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-database.js";
          import { getAuth, signOut } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-auth.js";
          // TODO: Add SDKs for Firebase products that you want to use
          // https://firebase.google.com/docs/web/setup#available-libraries
        
          // Your web app's Firebase configuration
          const firebaseConfig = {
            apiKey: "AIzaSyCo5VOhI_Ma03UaeoEcDb70aWFyrZB5tY0",
            authDomain: "todo-8779e.firebaseapp.com",
            databaseURL: "https://todo-8779e-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "todo-8779e",
            storageBucket: "todo-8779e.appspot.com",
            messagingSenderId: "384761476425",
            appId: "1:384761476425:web:038bc9f9332478b88d9698"
          };
        
          // Initialize Firebase
          const app = initializeApp(firebaseConfig);
          const db = getDatabase();
          const auth = getAuth();
          const addBtn = document.getElementById("addBtn");
          const viewBtn = document.getElementById("viewBtn");
          const taskInput = document.getElementById('taskInput');
          const taskBox = document.getElementById('taskBox');

          

          logoutBtn.addEventListener('click',(e) =>{
            e.preventDefault()

            signOut(auth).then(() => {
            // Sign-out successful.
            window.location = "/logout";
            }).catch((error) => {
            // An error happened.
            const errorCode = error.code;
            const errorMessage = error.message;
            alert(errorMessage);
            });

          });

          function addTask() {
            const user = auth.currentUser;
            const tasksRef = ref(db, `tasks/${user.uid}`);

            const userTask = taskInput.value.trim();
            if (userTask !== '') {
             
              const taskData = {
                name: userTask,
                status: "pending",
              };

             
              const newTaskRef = push(tasksRef);
              update(newTaskRef, taskData);
            } else {
              
              alert("Task name cannot be empty");
            }
          }

          function deleteTask(taskId) {
            const user = auth.currentUser;
            if (user) {
              const taskRef = ref(db, `tasks/${user.uid}/${taskId}`);
              
              remove(taskRef)
                .then(() => {
                  console.log("Task deleted successfully");
                })
                .catch((error) => {
                  console.error("Error deleting task:", error);
                });
            } else {
              console.log("No authenticated user");
            }
          }

  
          function displayTasks() {
            const user = auth.currentUser;
            if (user) {
              const tasksRef = ref(db, `tasks/${user.uid}`);

              
              taskBox.innerHTML = '';

              // Get the tasks from the database
              get(tasksRef)
                .then((snapshot) => {
                  snapshot.forEach((childSnapshot) => {
                    const task = childSnapshot.val();
                    const taskId = childSnapshot.key;

                    
                    const li = document.createElement('li');
                    li.textContent = task.name;
                    li.id = taskId;

                    
                    const completeBtn = document.createElement('button');
                    completeBtn.textContent = 'Complete';
                    completeBtn.addEventListener('click', () => {
                      const isCompleted = !task.completed;
                      updateTaskStatus(taskId, isCompleted);
                    });

              
                    if (task.status === 'completed') {
                      li.classList.add('completed-task');
                   
                    }

                    
                    const deleteBtn = document.createElement('button');
                    deleteBtn.textContent = 'Delete';
                    deleteBtn.addEventListener('click', () => {
                      deleteTask(taskId);
                      
                      li.remove();
                    });

                    
                    li.appendChild(completeBtn);

                    
                    li.appendChild(deleteBtn);

                    
                    taskBox.appendChild(li);
                  });
                })
                .catch((error) => {
                  
                  console.error(error);
                });
            } else {
              
              console.log('No authenticated user');
            }
          }

          function updateTaskStatus(taskId, status) {
            const user = auth.currentUser;
            if (user) {
              const taskRef = ref(db, `tasks/${user.uid}/${taskId}`);
              
              update(taskRef, { status: "completed" })
                .then(() => {
                  console.log("Task status updated successfully");
                  displayTasks();
                })
                .catch((error) => {
                  console.error("Error updating task status:", error);
                });
            } else {
              console.log("No authenticated user");
            }
          }





          addBtn.addEventListener("click", addTask);
          viewBtn.addEventListener("click", displayTasks);



        </script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

        
    </body>
</html>